<!doctype html>
<html>
<head>
    <title>aje beauty</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <h1 class="businessName"><%=user.local.businessName %></h1>
    <input type="text" class="newBusinessName" name="newBusinessName" value="<%=user.local.businessName %>">
    <a href="/logout" class="btn btn-default btn-sm login">Logout</a>
  </header>


  <section>
    <h3><%=user.local.username %></h3>
    <p class="role"><%=user.local.role %></p>
    <input class="newRole" type="text" name="newRole" value="<%=user.local.role %>">
    <h4>Services</h4>
    <ul>
      <li><%=user.local.services %></li>
    </ul>
  </section>
        
  <section>
    <h3>Portfolio</h3>
    <section class="portfolio">
      <section></section>
      <section></section>
      <section></section>
    </section>
  </section>

  <button class="reviews">See Reviews</button>

  <button class="edit">Edit</button>
  
  <button class="submit">Submit</button>

  <button class="delete">Delete Account</button>

<script src="main.js"></script>

</body>
</html>
